# -------------------------------------------------
# Python Dependencies for Bastion Manager Streamlit App
# -------------------------------------------------
streamlit
supabase
pandas
requests